<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
<html lang="utf-8">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pygments/github.css' %}">
    <script src={% static 'js/jquery-3.1.1.js' %}></script>

    <script type="application/javascript">
        $(document).ready(function () {
            $("#login-button").on("click", function () {
                location.href = "/accounts/signin";
            });
            $("#logout-button").on("click", function () {
                location.href = "/accounts/";
            });
            $('#article-like-button  button').on("click", function () {
                var article_id = {{ article.id }};
                var user_id = {{ article.user.id }};
                var params = {"article_id": article_id, "user_id": user_id};
                var this_obj = $(this);
                $.ajax({
                    type: "GET",
                    url: "/blog/article-like",
                    dataType: "json",
                    data: params,
                    error: function () {
                    },
                    success: function (data) {
                        if(data['status'] == 0) {
                             this_obj.next().text(data['data']['likes']);
                             this_obj.attr("disabled", true);
                        }
                    }
                });
            })
        })
    </script>
</head>
<body>
<div id="header">
    <div id="header-wrap">
        <div id="header-logo">
            <a href="/blog/{{ user.username }}" title="{% trans 'My First Blog' %}" id="logo"></a>
        </div>
        <div id="header-right" class="accounts">
        {% if user.username == '' %}
            <button class="btn btn-default" id="login-button">Log In</button>
{#            <button class="btn btn-default">Register</button>#}
        {% else %}
            <button class="btn btn-default" id="logout-button">Log Out</button>
{#            <button class="btn btn-default">Register</button>#}
            </div>
        {% endif %}
        </div>

    </div>
</div>
<div id="content">
    <div id="main">
        {% block content %} {% endblock %}
    </div>
</div>
<div id="footer">
    <div id="footer-wrap">
        <h2 style="margin: 0">This is footer!</h2>
    </div>
</div>
</body>
</html>