<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
<html lang="utf-8">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pygments/github.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <script src={% static 'js/jquery-3.1.1.js' %}></script>

    <script type="application/javascript">
        $(document).ready(function () {
            $("#login-button").on("click", function () {
                location.href = "/accounts/signin";
            });
            $("#logout-button").on("click", function () {
                location.href = "/accounts/";
            });
            $('#article-like-button  button').on("click", function () {
                {% if article.id is not None %}
                    var article_id = {{ article.id }};
                {% else %}
                    var article_id = 0;
                {% endif %}
                {% if article.user.id is not None %}
                    var user_id = {{ article.user.id }};
                {% else %}
                    var user_id = 0;
                {% endif %}
                var params = {"article_id": article_id, "user_id": user_id};
                var this_obj = $(this);
                $.ajax({
                    type: "GET",
                    url: "/blog/article-like",
                    dataType: "json",
                    data: params,
                    error: function () {
                    },
                    success: function (data) {
                        if(data['status'] == 0) {
                             this_obj.next().text(data['data']['likes']);
                             this_obj.attr("disabled", true);
                        }
                    }
                });
            });
            $("#article-edit-button").on("click", function () {
                location.href = "/blog/post/{{ article.id }}/edit/";
            });
            $("#article-add-button").on("click", function () {
                var category = 0;
                {% if active_category.id %}
                    category = {{ active_category.id }}
                {% endif %}
                location.href = "/blog/post/" + category + "/add/";
            });
            $("#category-add-button").on("click", function () {
                var new_category = prompt("New category name：");
                new_category = new_category.trim();
                if(new_category == '') {
                    alert("New category name can not be blank!");
                    return;
                }
                $.ajax({
                    type: "GET",
                    url: "/blog/category-add",
                    dataType: "json",
                    data: {'category_name': new_category},
                    error: function () {
                        alert("Fail to add new category!");
                    },
                    success: function (data) {
                        if(data['status'] == 0) {
                             var return_data = data['data'];
                             $("#panel-categories-body").empty();
                             $(return_data).each(function (index, value) {
                                 var li_object = $("<li class='panel-categories-name'></li>");
                                 li_object.append("<a href = '/blog/{{ uesername }}/category/" + value['id'] + "'>" + value['name'] + "(" + value['num_articles'] + ")</a>");
                                 $("#panel-categories-body").append(li_object);
                             })
                        } else {
                            alert(data['msg']);
                        }
                    }
                });
            });
            $(".top-nav-profile").on("mousemove", function () {
                $("#top-nav-profile-dropdown").css("display", "block");
            });
            $(".top-nav-profile").on("mouseleave", function () {
                $("#top-nav-profile-dropdown").css("display", "none");
            });
        })
    </script>
</head>
<body>
<div id="header">
    <div id="header-wrap">
        <div id="header-logo">
            <a href="/blog/{{ user.username }}" title="{% trans 'My First Blog' %}" id="logo"></a>
        </div>
        <div id="header-right" class="accounts">
        {% if user.username == '' %}
            <button class="btn btn-default" id="login-button">Log In</button>
        {% else %}
            <div class="top-nav-profile">
                <a href="#">
                    <img class="mugshot" src="{{ user.user_profile.get_mugshot_url }}">
                    <span>{{ user.username }}</span>
                </a>
                <ul class="top-nav-dropdown" id="top-nav-profile-dropdown">
                    <li>
                        <a href="/blog/{{ user.username }}">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            Home Page
                        </a>
                    </li>
                    <li>
                        <a href="/accounts/{{ user.username }}">
                            <i class="fa fa-cogs" aria-hidden="true"></i>
                            Settings
                        </a>
                    </li>
                    <li>
                        <a href="/accounts/signout">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            Log Out
                        </a>
                    </li>
                </ul>
            </div>
        {% endif %}
        </div>
    </div>
</div>
<div id="content">
    <div id="main">
        {% block content %} {% endblock %}
    </div>
</div>
<div id="footer">
    <div id="footer-wrap">
        <h2 style="margin: 0">This is footer!</h2>
    </div>
</div>
</body>
</html>