<div id="comments">
    <div id="comments-main">
        <div id="comments-head">评论区</div>
        {% for comment in comment_list %}
            <div class="comment-block">
                <div class="comment-block-head">
                    {{ comment.no }}楼
                    <a href="/blog/{{ comment.user.username }}" class="comment-username">{{ comment.user.username }}</a>
                    <span class="comment-time">{{ comment.create_time|date:"Y-m-d H:i" }}发表</span>
                </div>
                <div class="comment-content">
                    <div class="comment-user-icon">
                        <a href="/blog/{{ comment.user.username }}">
                            <img class="mugshot" src="{{ comment.user.user_profile.get_mugshot_url }}">
                        </a>
                    </div>
                    <div class="comment-body">
                        {{ comment.body }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <form  action="{% url 'blog:comment' article.pk %}">
        {% csrf_token %}
        <div class="row">
            {% for field in form %}
                {{ field }}
                {{ field.errors }}
                <br>
            {% endfor %}
        </div>
        <button type="submit" class="com-button">Submit</button>
    </form>
</div>