{% extends 'base.html' %}
{% block content %}
<div id="main">
    <div id="left-side">
        <div id="user-basic">Profile</div>
        <div id="panel-categories">
            <ul id="panel-categories-head">
                <span>Categories</span>
            </ul>
            <ul id="panel-categories-body">
                {% for category in category_list %}
                    <li class="panel-categories-name">
                        <a href="/category/{{ category.id }}">
                            {{category.name}}({{ category.num_articles }})
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="right-side">
        {% load paginate_tags %}
        {% paginate article_list 3 %}
        <div id="right-side-header">Articles List
            {% if active_category.name != null %}
                >{{ active_category.name }}
            {% endif %}
        </div>
        <div id="right-side-articles-wrap">
            {% for article in article_list %}
                <div class="right-side-article">
                    <div class="right-side-article-title">
                        <a href="/article/{{ article.id }}">
                            <h3>{{ article.title }}</h3>
                        </a>
                    </div>
                    <div class="right-side-article-time">
                        {{ article.last_modified_time|date:"Y-n-d H:m" }}
                        <span>Views({{ article.views }})</span>
                        <span>Likes({{ article.likes }})</span>
                    </div>
                    <div class="right-side-article-abstract">
                        {% if article.abstract != null and article.abstract != '' %}
                            {{ article.abstract }}
                        {% else %}
                            {{ article.body|safe|truncatechars_html:54 }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% include 'blog/pagination.html' %}
    </div>
</div>

{% endblock %}