* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

div {
    display: block;
}

body {
    display: block;
}

#header {
    width: 100%;
    height: 60px;
    background: white;
}

#header-wrap {
    width: 100%;
    height: 100%;
}

#content {
    width: 100%;
    background: blanchedalmond;
    padding-bottom: 20px;
    float: left;
}

#footer {
    width: 100%;
    height: 50px;
    background: chartreuse;
    float: left;
}

#header-logo {
    height: 60px;
    line-height: 60px;
    width: 150px;
    margin-left: 30px;
    float: left;
}

#logo {
    background: url("../img/blog_log.jpg") no-repeat;
    width: 100%;
    height: 100%;
    display: block;
}

.login {
    float: right;
    margin-top: 10px;
    margin-right: 50px;
}

.login button {
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-right: 20px;
    width: 100px;
    background: dodgerblue;
}

#main {
    width: 80%;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding: 20px 0;
}

#detail-tittle {
    height: 30px;
    background: white;
    margin-bottom: 20px;
    padding: 0 20px;
}

#post-main {
    background: white;
    padding: 10px 20px;
    min-height: 400px;
}

.post-bd {
    margin-top: 10px;
}

#detail-tittle a {
    color: black;
}

#single-nav li {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
}

/*侧边栏*/
#left-side {
    width: 20%;
    height: 100%;
    background: #8cd0d3;
    float: left;
}

#user-basic {
    width: 100%;
    height: 400px;
    background: #00BB00;
}

#panel-categories {
    width: 100%;
    height: 300px;
    background: white;
    padding: 7px;
}

#panel-categories-head {
    font-size: 18px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: cadetblue;
    border-radius: 10%;
    text-align: center;
}

.panel-categories-name {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
}

/*右侧文章栏*/
#right-side {
    width: 75%;
    min-height: 400px;
    background: #8cd0d3;
    float: right;
}

#right-side-header {
    font-size: 18px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: cadetblue;
    text-align: center;
}

#right-side-articles-wrap {
    min-height: 400px;
    width: 100%;
}

.right-side-article {
    width: 100%;
    height: 160px;
    margin: 20px 0;
    border: 1px solid;
    padding: 0 20px;
    background: #eee;
}

.right-side-article-abstract {
    font-size: 16px;
    color: #555;
    padding-top: 10px;
}

.right-side-article-abstract * {
    border: 0;
    margin: 0;
    padding: 0;
}

/*分页功能*/
#pagenav {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0 20px;
    position: relative;
}

#pagenav a, #pagenav span {
    height: 32px;
    line-height: 32px;
    font-size: 18px;
    padding: 0 10px;
    display: inline-block;
}

#pagenav a:hover {
    background: #fbfdfd;
}

#pagenav span.current {
    background: white;
}

.previous-page {
    position: absolute;
    left: 0;
    width: 120px;
}

.next-page {
    position: absolute;
    right: 0;
    width: 120px;
}
